.navbar {
  box-shadow: 12px 9px 62px -9px rgba(41, 41, 41, 0.54);
  -webkit-box-shadow: 12px 9px 62px -9px rgba(41, 41, 41, 0.54);
  -moz-box-shadow: 12px 9px 62px -9px rgba(41, 41, 41, 0.54);
}

.navbar .logo {
  height: 35px;
}

.navbar .tab {
  transition: 0.3s;
  cursor: pointer;
}

.navbar .tab.selected {
  scale: 1.1 1;
  color: rgb(218, 141, 0) !important;
}

.navbar .tab:hover {
  scale: 1.1;
}
