.signup {
  background: rgb(246, 139, 25);
  background: linear-gradient(
    90deg,
    rgba(246, 139, 25, 1) 0%,
    rgba(230, 176, 101, 1) 100%
  );
  width: 100vw;
  height: 100vh;
}

.signup h1 {
  font-size: 70px;
}

.signup .box-parent {
  width: 100vw;
  height: 100vh;
}
