.signup {
  background: #673AB7;
  background: linear-gradient(
    90deg,
    #704baf 0%,
    rgb(156, 88, 153) 100%
  );
  width: 100vw;
  height: 100vh;
}

.signup h1 {
  font-size: 70px;
}

.signup .box-parent {
  width: 100vw;
  height: 100vh;
}
